APP_PORT=7654
APP_NAME="form_checker"
SELENIUM_PORT=4444
VNC_VIEWER_PORT=7901

SE_NODE_MAX_SESSIONS=1
SE_NODE_OVERRIDE_MAX_SESSIONS=true
SE_NODE_SESSION_TIMEOUT=300
SE_NODE_GRID_URL=http://localhost:4444
SELENIUM_REMOTE_URL=http://selenium:4444/wd/hub
SE_NODE_DETECT_DRIVERS=false

BMP_PORT=6561
BMP_PORT_RANGE=6562-6600
BMP_PROXY_URL=http://localhost:6561